/* General */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* background color */
    --primary-color: #011E34;
    --bg-orange: #FF6B00;
    --bg-white: #fff;
    --gradient-color: linear-gradient(179.59deg, #1E3B6A 0.36%, rgba(30, 59, 106, 0) 140.51%);

    /* Text Color */
    --primary-font:'Taviraj';
    --text-orange:#FF6B00;
    --text-white: #fff;
    --text-glossy-blue:#29D3F8;
    --text-blue:#00D1FF;

    /* Border */
    --border:.1rem solid rgba(255,255,255,.3);
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    margin:0;
    padding:0;
    overflow-x:hidden;
}
html{
    overflow-x:hidden;
}
a {
    text-decoration: none;
    list-style: none;
}

/* 1 Custom CSS */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: var(--gradient-color);
}
::-webkit-scrollbar-thumb {
    background: var(--bg-orange);
}
section {
    padding: 100px 0;
}
h1{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 64.5455px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
}
h2 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 64.5455px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
}
h3 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: var(--text-white);
    margin-bottom: 15px;
    display: inline;
}
p {
    color: var(--text-orange);
    font-weight: 800;
    font-size: 62.3018px;
    line-height: 85px;
    text-align: center;
}
span{
    color: var(--text-orange);
}
.middle-img{
    margin-top: -200px;
}
.logo-img{
    width: 200px;
}
.form-card {
    background-color: transparent;
    border: 1px solid var(--bg-orange);
}
.grid-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    list-style-type: none;
}
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button{
    box-shadow: none !important;
}
.certificate-container {
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}
img {
    max-width: 100%;
    height: auto;
} 
.grid {
    display: grid;
    gap: 1.25rem;
}
/* Animation Scroll */
[data-reveal] {
    opacity: 0;
    transition: 0.5s ease;
}  
[data-reveal].revealed { opacity: 1; }
[data-reveal="bottom"] { transform: translateY(100px); }
[data-reveal="bottom"].revealed { transform: translateY(0); }
[data-reveal="left"] { transform: translateX(-50px); }
[data-reveal="right"] { transform: translateX(50px); }
[data-reveal="left"].revealed,
[data-reveal="right"].revealed { transform: translateX(0); }

/* Middle1 Animation Properties */
@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}  
@property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}  
@property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}
/* SIDE IMAGE ANIMATION */
.bounce2 {
    animation: bounce 0.8s;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
            animation-iteration-count: infinite;
}
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 50px, 0);
    }
}
.bounce2 {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(
    .5, 0.05, 1, .5);
    -webkit-animation-iteration-count: infinite;
}  
@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }
}

/* Preloader */
#preload_container{
    background: linear-gradient(179.59deg, #1755b8 0.36%, rgba(202, 215, 235, 0) 140.51%);
    color: #3df1f1;
    font: 1em Dosis, sans-serif;
    height: 100vh;
    line-height: 1.5;
    perspective: 40em;
    display: flex;
}
.preloader {
    animation: tiltSpin 8s linear infinite;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 17em;
    height: 17em;
    display: flex;
}
.preloader, .preloader__ring {
    transform-style: preserve-3d;
}
.preloader__ring {
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: inherit;
    animation-iteration-count: inherit;
    font-size: 2em;
    position: relative;
    height: 3rem;
    width: 1.5rem;
}
.preloader__ring:nth-child(even) {
    animation-direction: reverse;
}
.preloader__sector {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(7rem);
}
.preloader__sector, .preloader__sector:empty:before {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.preloader__sector:empty:before {
    background: linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
    content: "";
}
.preloader__sector:nth-child(2) {
    transform: rotateY(12deg) translateZ(7rem);
}
.preloader__sector:nth-child(3) {
    transform: rotateY(24deg) translateZ(7rem);
}
.preloader__sector:nth-child(4) {
    transform: rotateY(36deg) translateZ(7rem);
}
.preloader__sector:nth-child(5) {
    transform: rotateY(48deg) translateZ(7rem);
}
.preloader__sector:nth-child(6) {
    transform: rotateY(60deg) translateZ(7rem);
}
.preloader__sector:nth-child(7) {
    transform: rotateY(72deg) translateZ(7rem);
}
.preloader__sector:nth-child(8) {
    transform: rotateY(84deg) translateZ(7rem);
}
.preloader__sector:nth-child(9) {
    transform: rotateY(96deg) translateZ(7rem);
}
.preloader__sector:nth-child(10) {
    transform: rotateY(108deg) translateZ(7rem);
}
.preloader__sector:nth-child(11) {
    transform: rotateY(120deg) translateZ(7rem);
}
.preloader__sector:nth-child(12) {
    transform: rotateY(132deg) translateZ(7rem);
}
.preloader__sector:nth-child(13) {
    transform: rotateY(144deg) translateZ(7rem);
}
.preloader__sector:nth-child(14) {
    transform: rotateY(156deg) translateZ(7rem);
}
.preloader__sector:nth-child(15) {
    transform: rotateY(168deg) translateZ(7rem);
}
.preloader__sector:nth-child(16) {
    transform: rotateY(180deg) translateZ(7rem);
}
.preloader__sector:nth-child(17) {
    transform: rotateY(192deg) translateZ(7rem);
}
.preloader__sector:nth-child(18) {
    transform: rotateY(204deg) translateZ(7rem);
}
.preloader__sector:nth-child(19) {
    transform: rotateY(216deg) translateZ(7rem);
}
.preloader__sector:nth-child(20) {
    transform: rotateY(228deg) translateZ(7rem);
}
.preloader__sector:nth-child(21) {
    transform: rotateY(240deg) translateZ(7rem);
}
.preloader__sector:nth-child(22) {
    transform: rotateY(252deg) translateZ(7rem);
}
.preloader__sector:nth-child(23) {
    transform: rotateY(264deg) translateZ(7rem);
}
.preloader__sector:nth-child(24) {
    transform: rotateY(276deg) translateZ(7rem);
}
.preloader__sector:nth-child(25) {
    transform: rotateY(288deg) translateZ(7rem);
}
.preloader__sector:nth-child(26) {
    transform: rotateY(300deg) translateZ(7rem);
}
.preloader__sector:nth-child(27) {
    transform: rotateY(312deg) translateZ(7rem);
}
.preloader__sector:nth-child(28) {
    transform: rotateY(324deg) translateZ(7rem);
}
.preloader__sector:nth-child(29) {
    transform: rotateY(336deg) translateZ(7rem);
}
.preloader__sector:nth-child(30) {
    transform: rotateY(348deg) translateZ(7rem);
}
  
/* Animations */
@keyframes tiltSpin {
    from {
      transform: rotateY(0) rotateX(30deg);
    }
    to {
      transform: rotateY(1turn) rotateX(30deg);
    }
}
@keyframes spin {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(1turn);
    }
}

main{
    display: none;
}
/* 2 Navbar */
.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--bg-orange);
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar{
    opacity: 0;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background: radial-gradient(352.23% 352.23% at 15.52% 12.69%, #001f61 0%, rgba(159, 94, 223, 0) 100%);
    padding-top: 115px;
    transition: 0.4s;
}
.mobile-nav.is-active{
    left: 0;
}
.mobile-nav .nav-link{
    display: block;
    text-align: center;
    margin-bottom: 12px;
    padding: 12px 16px;
    margin-left: -100px;
    text-decoration: none;
    color: var(--text-white);
    font-size: 20px;
}
.mobile-nav .nav-link.active{
    color: var(--text-orange);
    font-size: 18px;
    text-decoration: underline;
}
.mobile-nav .nav-link:hover{
    color: var(--text-orange);
    text-decoration: underline;
}
.profile-info img{
    position: relative;
    max-width: 90px;
    height: auto;
    margin-left: 30px;
}
.profile-heading h14{
    width: 100% !important;
    position: absolute;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--text-white);
    border-bottom: none;
    left: 45% !important;
    margin-top: -20px;
}
.profile-heading p{
    width: 100% !important;
    font-weight: 500;
    font-size: 0.60rem;
    color: var(--text-glossy-blue);
    margin-left: 55px;
    margin-top: -55px;
    margin-bottom: 4rem;
}
.mobile-nav-container{
    position: absolute;
    width: 100px;
    height: 620px;
    right: 0;
    top: 220px;
    background: var(--primary-color);
    border-radius: 50px 0px 0px 0px;
}
.mobile-nav-container h3{
    width: 400px;
    height: 0px;
    margin-left: -125px;
    margin-top: 300px;
    position: absolute;
    font-size: 40px;    
    color: var(--text-white);
    transform: matrix(0, 1, -1, 0, 0, 0);
}
.mobile-nav .sidebar-container{
    position: absolute;
    width: 44.4px;
    height: 130.3px;
    left: 60px;
    bottom:0;
    background: #154264;
    transform: rotate(-90deg);
}
.mobile-nav .sidebar-container .social-links img{
    position: absolute;
    width: 30.05px;
    height: 30.15px;
    left: 8px;
    top: 5px;
    transform: rotate(90deg);
}
.mobile-nav .sidebar-container .social-links:hover{
    transform: translateX(-5px);
}
.mobile-nav .sidebar-container .social-links-2 img{
    position: absolute;
    width: 30.05px;
    height: 30.15px;
    left: 8px;
    top: 40px;
    transform: rotate(90deg);
}
.mobile-nav .sidebar-container .social-links-2:hover{
    transform: translateX(-5px);
}
.mobile-nav .sidebar-container .social-links-3 img{
    position: absolute;
    width: 30.05px;
    height: 30.15px;
    left: 8px;
    top: 75px;
    transform: rotate(90deg);
}
.mobile-nav .sidebar-container .social-links-3:hover{
    transform: translateX(-5px);
}
.mobile-nav .hireme-container{
    position: absolute;
    width: 30.2px;
    height: 90px;
    left: 160px;
    bottom: 20px;
    background: var(--bg-orange);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    transform: rotate(-90deg);
}
.mobile-nav .hireme-container H6{
    position: absolute;
    width: 111.3px;
    height: 30.79px;
    left: -48px;
    top: 50.5px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 15.34px;
    color: #0F0000;
    transform: matrix(0, 1, -1, 0, 0, 0);
}
.header_wrapper .navbar{
    padding:15px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.header_wrapper .navbar-brand img{
    max-width: 80px;
    height: auto;
}
.header_wrapper .nav-item{
    margin: 0 10px;
}
.header_wrapper .nav-item .nav-link{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 19.6289px;
    color: var(--text-white);
    display:inline-block;
    position: relative;
    left: -50px;
}
.header_wrapper .nav-item .nav-link::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height:2px;
    background:var(--text-orange);
    transition: 0.2s;
    bottom: 0;
}
.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after{
    width:100%;
}
.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover{
    color: var(--text-orange);
}
.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(179.59deg, #1E3B6A 0.36%, rgba(30, 59, 106, 0) 140.51%);
    width: 100%;
    -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
    box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
    color: var(--text-orange);
}
.header_wrapper .container .sidebar-container{
    position: absolute;
    width: 70.25px;
    height: 150.87px;
    left: 90%;
    top: 20px;
    background: #154264;
}
.header_wrapper .container .sidebar-container .social-links img{
    position: absolute;
    width: 30.05px;
    height: 30.15px;
    left: 20px;
    top: 10px;
}
.header_wrapper .container .sidebar-container .social-links:hover{
    transform: translateX(-5px);
}
.header_wrapper .container .sidebar-container .social-links-2 img{
    position: absolute;
    width: 30.05px;
    height: 30.15px;
    left: 20px;
    top: 50px;
}
.header_wrapper .container .sidebar-container .social-links-2:hover{
    transform: translateX(-5px);
}
.header_wrapper .container .sidebar-container .social-links-3 img{
    position: absolute;
    width: 30.05px;
    height: 30.15px;
    left: 20px;
    top: 90.42px;
}
.header_wrapper .container .sidebar-container .social-links-3:hover{
    transform: translateX(-5px);
}
.header_wrapper .container .hireme-container{
    position: absolute;
    width: 40.2px;
    height: 90.21px;
    left: 90.9%;
    top: 150.79px;
    background: var(--bg-orange);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}
.header_wrapper .container .hireme-container:hover{
    transform: translateY(5px);
}
.header_wrapper .container .hireme-container H6{
    position: absolute;
    width: 111.3px;
    height: 30.79px;
    left: -43px;
    top: 50.5px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 15.34px;
    color: #0F0000;
    transform: matrix(0, 1, -1, 0, 0, 0);
}
/* 3 Banner */
.banner_wrapper{
    background-image:url('../images/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.top-right-sec{
    -webkit-animation-name:movebounce;
    animation-name:movebounce;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@keyframes movebounce{
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    50%{
        -webkit-transform:translateY(1.25rem);
        transform:translateY(1.25rem);
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}
/* 4 Middle */
.middle_wrapper{
    width: 100%;
    height: auto;
    min-height: 650px;
    background-image:url('../images/middle-project-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 100px 0;
    background-attachment:fixed;
}
.welcome-heading{
    display: flex;
    width: 600px;
    height: 259px;
    background: linear-gradient(248.54deg, #000320 8.95%, rgba(0, 3, 32, 0) 305.26%);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.welcome-heading h2{
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: color-dodge;
}
/* 5 Project */
.project_wrapper{
    background: linear-gradient(278.41deg, #00C2FF 9.72%, rgba(0, 194, 255, 0) 96.99%);
}
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 950px;
    gap: 7rem;
}
.project__filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}
.project__item{
    cursor: pointer;
    font-weight: 700;
    font-size: 29.5312px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    padding: .25rem .75rem;
    border-radius: .5rem;
}
.product{
    background: linear-gradient(197.74deg, #0D3E58 12.12%, #011E34 162.21%);
    padding: 1rem;
    width: 400px;
    height: 480px;
    position: relative;
    outline: .1rem solid #ccc;
    outline-offset: -.75rem;
    cursor: pointer;
}
.container .products-container .product:hover{
    outline: .2rem solid #fb5a03;
    outline-offset: 0;
}
.project__img{
    width: 176.14px;
    height: 368.18px;
    transform: matrix(0.99, -0.13, 0.12, 0.99, 0, 0);
}
.project__img2{
    position: absolute;
    width: 176.14px;
    height: 368.18px;
    left: 50%;
    transform: matrix(1, 0.08, -0.07, 1, 0, 0);
    -webkit-animation-name:movebounce;
    animation-name:movebounce;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@keyframes movebounce{
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    50%{
        -webkit-transform:translateY(1.25rem);
        transform:translateY(1.25rem);
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}
.active-project{
    background: #011E34;
}
.products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
} 
.products-preview .preview{
    display: none;
    padding:1rem;
    text-align: center;
    background-color: #00070D;
    position: relative;
    margin: 2rem;
    width: 30rem;
} 
.products-preview .preview.active{
    display: inline-block;
}
.products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:var(--bg-orange);
    font-size: 2rem;
} 
.products-preview .preview h1{
    font-weight: 800;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
} 
.products-preview .preview p{
    font-weight: 20;
    font-size: 15.2032px;
    line-height: 18px;
    text-align: center;
    color: #00C2FF;
} 
.products-preview .preview h3{
    font-weight: 800;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
} 
.main-btn{
    position: absolute;
    width: 116.81px;
    height: 41.24px;
    background: var(--bg-orange);
    border-radius: 43.1579px;
    color: var(--text-white);
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 200;
    font-size: 13.7429px;
    border: none;
    padding-top: 10px;
    left: 100px;
}
.main-btn:hover,
.main-btn-preview:hover{
    transform: translateY(-5px);
    color: var(--text-white);
}
.main-btn-preview{
    position: absolute;
    width: 116.81px;
    height: 41.24px;
    background: radial-gradient(212.5% 1579.78% at 5.74% 0%, #29D3F8 0%, rgba(41, 211, 248, 0) 100%) ;
    border-radius: 43.1579px;
    color: var(--text-white);
    text-align: center;
    padding-top: 22px;
    font-family: var(--primary-font);
    font-weight: 200;
    font-size: 13.7429px;
    border: none;
    padding-top: 10px;
}
/* 6 Contact */
.contact_wrapper{
    background-image: url(../images/footer-bg.png);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
}
.contact_wrapper .container p{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    width: 300px;
    color: #EEEEEE;
}
.contact_wrapper .container span{
    color: var(--text-orange);
}
.contact_wrapper .call_details{
    color: var(--text-blue);
}
.contact_wrapper .call_details a{
    font-weight: 700;
    color: var(--text-blue);
    font-size: 25px;
    line-height: 43px;
}
.contact_wrapper .contact-img{
    width: 61.85px;
    height: 61.85px;
}
.contact_wrapper .contact-btn{
    position: absolute;
    width: 437.08px;
    height: 109.98px;
    left: -4px;
    background: radial-gradient(118.8% 637.35% at 50% 22%, #29D3F8 0%, rgba(41, 211, 248, 0.31) 100%);
}
.contact_wrapper .contact-btn:hover{
    background:linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
    transform: translateX(3px);
}
.contact_wrapper .contact-btn h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: var(--text-white);
    padding-top: 20px;
}
.contact_wrapper .contact-btn .line-img{
    margin-left: 370px;
    margin-top: -100px;
}
.contact_wrapper .contact-id:hover{
    background: rgba(255, 107, 0, 0.17);
    border: 2.31923px solid #FF6B00;
    border-radius: 15.4615px;
    width: 400px;
}
.form-card-frontend{
    background-color: var(--bg-orange);
    color: hsla(216, 33%, 20%, 1);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 0;
}
.form-card-frontend:hover{
    background-color: var(--bg-white);
    border: 1px solid var(--bg-orange);
    transform: translateY(-2px);
    transition: 0.25s ease;
}
.contact_wrapper .contact-form{
    position: relative;
    background: var(--bg-white);
    border-radius: 25.0206px;
    margin-top: 100px;
}
.contact_wrapper .contact-form .contact-form-heading h6{
    font-size: 30px;
    color: hsla(217, 24%, 59%, 1);
    font-weight: bold;
    font-family: var(--primary-font);
}
.tag-btn {
    width: 100%;
    align-items: center;
    padding: 18px;
    border-radius: 16px;
}
.tag-btn:hover{
    background-color: var(--bg-orange);
    transform: translateY(-2px);
    transition: 0.25s ease;
}  
.btn-text p{
    font-size: 20px;
    list-style: none;
    color: var(--text-black);
}
.tag-btn a{
    color: hsla(216, 33%, 20%, 1);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
input[type="text"],
input[type="number"],
input[type="email"] {
    border: 0;
    border-bottom: 3.12757px solid rgba(46, 2, 73, 0.3);
    outline: 0;
    border-radius: 0;
}
input[type="text"]:hover{
    border-bottom:3.12757px solid #C17FAD;
}
input[type="number"]:hover{
    border-bottom:3.12757px solid #C17FAD;
}
input[type="email"]:hover{
    border-bottom:3.12757px solid #C17FAD;
}
.contact_wrapper textarea{
    border-color: rgba(46, 2, 73, 0.3);
}
.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus{
    border-color: #C17FAD;
    color: #4b1039;
}
.contact-form-btn .vector-btn{
    margin-top: 50px;
    width: 250px;
    height: 81.74px;
    background: var(--bg-orange);
    border-radius: 16.6804px;
    border: none;
    align-items: center;
    padding: 18px;
    font-weight: 500;
    font-size: 27.9671px;
    line-height: 42px;
    color: var(--text-white);
}
.contact-form-btn .vector-btn:hover{
    color: var(--text-black);
    transform: translateY(-2px);
    transition: 0.25s ease;
}
.contact_wrapper .bg-img img{
    width: 1800px;
    margin-bottom: -200px;
    height: 250px;
    margin-top: -230px;
}
.contact_wrapper .form-row label{
    color: var(--text-orange);
    font-weight: 500;
}
/* 7 Footer */
.footer_wrapper{
    background: linear-gradient(277.51deg, #03265C 33.72%, rgba(3, 38, 92, 0) 104.65%);
    text-align: center;
    max-height: 270px;
}
.footer-logo{
    padding-top: 50px;
    width: 150px;
    height: 150px;
    margin-top: -80px;
}
.footer_wrapper .share{
    padding:0.5rem 0;
}
.footer_wrapper .share img{
    width: 30px;
    height: 30px;
}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 3rem;    
    margin:.8rem;
}
.footer .share img:hover{
    transform: translateY(-5px);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
    gap:0.5rem;
    margin-top: -130px;
}
.footer .links a{
    padding:.1rem 1rem;
    color: var(--text-white);
    font-size: 1.2rem;
    border:var(--border);
}
.footer .links a:hover{
    background:var(--bg-orange);
}
.footer .credit{
    font-size: 0.9rem;
    color: var(--text-white);
    font-weight: lighter;
    padding:1.5rem;
}
.footer .credit span{
    color:var(--bg-orange);
}
/* 8 Back To Top */
.back-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: var(--text-white) !important;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 3px solid hsla(199, 89%, 49%, 1);
    transition: 0.25s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
}
.back-top-btn:is(:hover, :focus-visible) { box-shadow: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
}
.back-top-btn.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
}


/* Responsive Screens */
@media (max-width: 2500px){
    /* Contact */
    .contact_wrapper .bg-img img{
        width: 2500px;
    }
}
@media (min-width:991px){
    /* Menu */
    .mobile-nav{
        display: none;
    }
    .hamburger{
        display: none;
    }
}
@media (max-width:991px) {
    /* Custom css */
    h1{
        font-size: 44.5455px;
    }
    h2{
        font-size: 44.5455px;
    }
    h3{
        font-size: 30px;
    }
    .middle-img{
        width: 120px;
        margin-top: -150px;
    }
    .middle_wrapper{
        padding: 200px 0;
    }
    /* Contact */
    .contact_wrapper .contact-btn{
        position:relative;
    }
    /* Footer */
    .footer_wrapper{
        max-height: 500px;
    }
    .footer .links{
        margin-top: 30px;
    }
}
@media (max-width: 767px) {
    h3{
        font-size: 25px;
    }
    /* Contact */
    .contact_wrapper .call_details a{
        font-size: 25px;
    }
    .contact_wrapper .bg-img img{
        display: none;
    }
    /* Footer */
    .footer_wrapper{
        max-height: 600px;
    }
}
@media (max-width: 576px) {
    /* Middle */
    .box-heading{
        width: 400px;
        height: 200px;
    }
    .box-heading h2{
        font-size: 30px;
    }
    /* Project */
    .project-heading h2{
        font-size: 30px;
    }
    .project__item{
        font-size: 15px;
    }
    .main-btn{
        left: 80px;
    }    
    /* Contact */
    .contact_wrapper .container p{
        font-size: 30px;
    }
    .contact_wrapper .contact-img{
        width: 55px;
        height: 55px;
    }
    .contact_wrapper .contact-btn{
        width: 337.08px;
        height: 80px;
    }
    .contact_wrapper .contact-btn h2{
        font-size: 40px;
        padding-top: 10px;
    }
    .contact_wrapper .contact-btn .line-img{
        margin-left: 270px;
        margin-top: -130px;
    }
    /* Footer */
    .footer_wrapper{
        max-height: 700px;
    }
}
@media (max-width: 450px)   {
    /* Custom css */
    h1,h2{
        font-size: 34px;
        line-height: 0;
    }
    p{
        font-size: 34px;
    }
    /* Middle */
    .box-heading{
        width: 300px;
        height: 150px;
    }
    .box-heading h2{
        font-size: 23px;
        line-height: 40px;
    }
    /* Project */
    .project-heading h2{
        font-size: 20px;
    }
    .project__item{
        font-size: 13px;
    }
    .product{
        width: 300px;
        height: 350px;
    }
    .project__img,
    .project__img2{
        width: 130px;
        height: 250px;
    }
    .main-btn{
        left: 20px;
    }
    /* Contact */
    .contact_wrapper .container p{
        font-size: 28px;
    }
    .contact_wrapper .contact-btn{
        width: 280px;
        height: 70px;
    }
    .contact_wrapper .contact-btn h2{
        font-size: 30px;
        padding-top: 5px;
    }
    .contact_wrapper .contact-btn .line-img{
        display: none;
    }     
    .contact_wrapper .call_details a{
        font-size: 20px;
    }
    .contact-form-btn .vector-btn .vector{
        display: none;
    }  
    /* Footer */
    .footer .links{
        margin-top: 50px;
    }
}
@media (max-width: 350px){
    /* Project */
    .project__item{
        font-size: 10px;
    }
    .product{
        width: 250px;
        height: 300px;
    }
    .project__img,
    .project__img2{
        width: 100px;
        height: 200px;
    } 
    .main-btn{
        left: 10px;
    } 
    /* Footer */
    .footer_wrapper{
        max-height: 800px;
    }
    .footer-logo img{
        max-width:100%;
        max-height:100%;
        margin-left:50%;
        position:relative;
    }
}